.card {
  margin: 15px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
  width: 380px;
  height: 420px;
  &-flip {
    animation-name: flip;
    animation-duration: 1.5s;
  }
}

.card img {
  height: 60%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.no-car-img {
  padding: 60px 100px;
  background-color: #20B2AA;
}

.info-box {
  height: 40%;
  padding: 10px;
  background-color: #0c4d61;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.no-car-info-box {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #0c4d61;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes flip {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
