$grid-breakpoints: (
  xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
  sm: 600px, // handset landscape (medium, large) | tablet portrait (small, large)
  md: 960px, // tablet landscape (small, large)
  lg: 1280px, // laptops and desktops
  xl: 1600px // large desktops
);

$container-max-widths: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1600px
);

// defined to mitigate bootstrap reboot impact on angular material style
$link-color: #ffbf00;
$label-margin-bottom: 0;

// custom own colors named with owner initials
$ps-white: #fff;
$ps-lightgray: #d3d3d3;
$ps-light-green: #3Bff5f;
$ps-lightseagreen: #20b2aa;
$ps-dark-green: #0c4d61;
$ps-blue: #0d459a;
$ps-dark-blue: #031936;
$ps-pinky-red: #dc5454;
$ps-black: #000;
