<div class="side-nav">
  <div class="logo">
    <a href="/src" class="logo-icon">
      <img src="../../../../../assets/img/angular2-logo-white.png">
    </a>
    <a href="/src" class="logo-text">
        Lets Drive App
    </a>
  </div>
  <div class="btns">
    <button mat-raised-button mat-ripple class="btn" [routerLink]="'main/dashboard'" [routerLinkActive]="'active'">Dashboard</button>
    <button mat-raised-button mat-ripple class="btn" [routerLink]="'main/shop'">Shop</button>
    <button mat-raised-button mat-ripple class="btn" [routerLink]="'#'">Label</button>
    <button mat-raised-button mat-ripple class="btn" [routerLink]="'#'">Label</button>
    <button mat-raised-button mat-ripple class="btn" [routerLink]="'#'">Label</button>
  </div>
</div>
