<div class="main">
  <mat-toolbar class="toolbar">
    <div class="container">
      <mat-icon class="logout-icon" (click)="logout()">power_settings_new</mat-icon>
      <span class="user-login">Hello, {{user?.email}}!</span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: calc(100vh - 70px)">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
