@import './src/styles/variables';

.main {
  height: 100vh;
  width: 100vw;
  background-color: $ps-dark-blue;
}

.toolbar {
  height: 50px;
  background: $ps-dark-blue;
  color: $ps-white;
}

.toolbar > .container {
  display: flex;
  justify-content: flex-end;
}

.logout-icon {
  font-size: 30px;
}

.user-login {
  font-size: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
